* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #0f161b; ;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}